  <div class="container bump-me">


    <div class="body-content">


      <div class="row">
        <div class="col-lg-6 col-offset-1">

          <div class="panel panel-default">
            <div class="panel-heading">Record a Video</div>
            <div class="panel-body">
              <p>
                <!-- Everyone who joins either the Host View or Participant View
                joins a single OpenTok session. Anyone with the Host View
                open can click Start Archive or Stop Archive to control
                recording of the entire session. -->
					Everyone who wants to record a video can click on the Record Video button to record it.
              </p>
            </div>
            <div class="panel-footer">
              <a class="btn btn-danger" href="host">Record Video</a>
              <!-- <a class="btn btn-danger" href="participant">Participant View</a> -->
            </div>
          </div>

        </div>
        <div class="col-lg-6 col-offset-1">

          <div class="panel panel-default">
            <div class="panel-heading">Play Recorded Videos</div>
            <div class="panel-body">
              <p>
                <!-- Click through to Past Archives to see examples of using the
                Archiving REST API to list archives showing status (started,
                stopped, available) and playback (for available archives). -->
					Click through to View Recorded Video to see the recorded videos.
              </p>
            </div>
            <div class="panel-footer">
              <a class="btn btn-success" href="history">Recorded Videos</a>
            </div>
          </div>

        </div>
      </div>

    </div>

  </div>
